@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'responsive.css';


/* Reset default margins and padding */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

@keyframes distorted-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
}

.distorted-pulse {
  animation-name: distorted-pulse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
